<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        {% if form.instance.pk %}
        <h1>update school form</h1>
        {% else %}
        <h1>create school form</h1>
        {% endif %}

        <form action="" method="POST">
           {% csrf_token %}


             {{form.as_p}}


        {% if form.instance.pk %}
          <input type="submit" value="update">
        {% else %}
           <input type="submit" value="create">
        {% endif %}
        </form>
    </center>
</body>
</html>